<div id="container">
  <strong>{{ name }}34343434</strong> donkey
  <!-- <div>
    <ion-button (click)="increaseTextSize()">增加字体大小</ion-button>
    <ion-button (click)="decreaseTextSize()">减少字体大小</ion-button>
    <ion-button (click)="resetTextSize()">重置字体大小</ion-button>
  </div> -->
  <ion-footer>
    <ion-toolbar>
      <ion-text style="text-align: center;">
       <ion-button (click)="zooming(-0.1)">
        <ion-icon size="middle" name="remove"></ion-icon>      
      </ion-button>
      标准
      <ion-button (click)="zooming(0.1)">
        <ion-icon size="middle" name="add"></ion-icon>      
      </ion-button>
      </ion-text>
    </ion-toolbar>
  </ion-footer>
</div>